<aside class="single_sidebar_widget popular_post_widget">
    <h3 class="widget_title">Recent Post</h3>
    @foreach (hotel.Models.ArticleModel item in Model)
    {

        <div class="media post_item">
            <img src="/img/blog/@item.Photo" alt="post" style="height: 80px; width: 80px;">
            <div class="media-body">
                <a href="@Url.Action("SingleBlog", "Home", new { idArticle = @item.IdBlog})">
                    <h3>@item.Titre</h3>
                </a>
                <p>@item.DateArticle.ToString("MMMM dd, yyyy")</p>
            </div>
        </div>
    }
</aside>
